---
import ArtworkDetails from '~/components/ArtworkDetails/ArtworkDetails.tsx';
import { applyDefaultCacheHeaders } from '~/config.ts';
// import ArtworkCarouselSection from '~/features/artwork/ArtworkCarouselSection.astro';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import { unwrap } from '~/lib/util.ts';

applyDefaultCacheHeaders(Astro.response.headers);

const id = unwrap(Astro.params.artwork, 'Product param not found');
---

<PrimaryLayout title={`Giving Arts - for Appalachia`}>
	<main class="mx-auto mt-8 w-full max-w-[1200px] gap-8">
		<ArtworkDetails client:only="solid-js" id={id} />

		<!-- <ArtworkCarouselSection
			heading="You might also like"
		/> -->

		<CollectionSection />
	</main>
</PrimaryLayout>
