---
import ExternalLink from '~/components/ui/ExternalLink.astro';
import SocialIconLink from './SocialIconLink.astro';

export interface Props {
	class?: string;
}
---

<footer class={Astro.props.class}>
	<section class="flex flex-wrap items-center justify-between gap-y-2 py-4">
		<ul class="flex flex-wrap gap-2" aria-label="Supported payment methods">
			<!-- <li>
				<Icon name="visa" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Visa</div>
			</li> -->
		</ul>
		<ul class="flex flex-wrap gap-2" aria-label="Social links">
			<li>
				<SocialIconLink
					name="Facebook"
					icon="facebook"
					href="https://www.facebook.com/madeforartists"
				/>
			</li>
			<li>
				<SocialIconLink
					name="Instagram"
					icon="instagram"
					href="https://www.instagram.com/madeforartists_/"
				/>
			</li>
			<li>
				<SocialIconLink
					name="YouTube"
					icon="youtube"
					href="https://www.youtube.com/@madeforartists"
				/>
			</li>
			<li>
				<SocialIconLink
					name="X / Twitter"
					icon="twitter"
					href="https://twitter.com/madeforartists"
				/>
			</li>
		</ul>
	</section>

	<div class="border-b border-theme-base-300"></div>

	<section class="flex flex-wrap justify-between gap-y-2 py-6 text-sm text-theme-base-600">
		<p>
			{'© 2024 | '}
			<ExternalLink href="https://mfa.studio/" target="_blank" rel="noopener noreferrer">
				{'Made for Artists'}
			</ExternalLink><span>{' | All Rights Reserved.'}</span>
			<p class="flex flex-wrap gap-x-4">
				<!-- <ExternalLink href="https://astro.build/privacy/" target="_blank" rel="noopener noreferrer">
					Privacy Policy
				</ExternalLink>
				<ExternalLink href="https://astro.build/terms/" target="_blank" rel="noopener noreferrer">
					Terms of Service
				</ExternalLink> -->
			</p>
		</p>
	</section>
</footer>
