---
import type { HTMLAttributes } from 'astro/types';
import { CartDrawer } from '~/features/cart/CartDrawer.tsx';
import GivingArtsLogo from './GivingArtsLogo.astro';
import { NavBar } from './NavBar.tsx';

export interface Props extends HTMLAttributes<'nav'> {}

const { class: className, ...props } = Astro.props;
---

<nav
	aria-label="Site navigation"
	class:list={['!flex min-h-20 flex-row items-center bg-white py-2 md:justify-between', className]}
	{...props}>
	<div class="flex-1">
		<a class="-m-2 block w-fit p-2 transition hover:text-theme-base-600" href="/">
			<GivingArtsLogo class="relative" />
			<span class="sr-only">Home</span>
		</a>
	</div>
	<div class="hidden flex-1 justify-end gap-2 sm:flex">
		<NavBar orientation="horizontal" />
	</div>
	<div class="flex flex-1 justify-end gap-2 sm:hidden">
		<CartDrawer client:only="solid-js" />
	</div>
</nav>

<script>
	function focusSearch() {
		const searchInput = document.getElementById('global-search');
		if (window.location.pathname.startsWith('/search')) {
			searchInput!.focus();
		}
	}
	document.addEventListener('astro:page-load', focusSearch);
	document.addEventListener('astro:after-swap', focusSearch);
</script>
