---
import CollectionSection from '~/features/collection/CollectionSection.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import { Textfield } from '~/components/ui/Textfield/Textfield.tsx';
import { PriceTextfield } from '~/components/ui/PriceTextfield/PriceTextfield.tsx';
import { ImageUploader } from '~/components/ImageUploader/ImageUploader.tsx';
import { button } from '~/styles.ts';
import TitleHeader from '~/components/TitleHeader.astro';

applyDefaultCacheHeaders(Astro.response.headers);
---

<PrimaryLayout title="Giving Arts - for Appalachia">
	<TitleHeader title="Art submission form" />
	<main class="breakout mt-16 flex flex-col gap-y-16">
		<div class="content">
			<div class="prose m-auto">
				<p class="prose-base m-auto mb-10 md:prose-lg lg:prose-xl">
					Thank you for your interest in contributing your artwork to support the communities
					affected in Appalachia. By offering your art, you become a vital part of a compassionate
					initiative rooted in giving and trust. Please complete the form below to submit your
					artwork for inclusion in our gallery.
				</p>

				<form class="flex flex-col gap-6" enctype="multipart/form-data">
					<h3 class="mb-0">Contact information</h3>
					<Textfield required name="name" label="Name" />
					<Textfield required name="email" label="Email" type="email" />
					<Textfield required name="phone" label="Phone number" type="tel" />

					<h3 class="mb-0">Artwork details</h3>
					<ImageUploader required client:only="solid-js" label="Artwork images" name="images" />
					<Textfield required name="title" label="Artwork title" />
					<PriceTextfield required name="price" client:only="solid-js" label="Suggested donation" />
					<Textfield required name="medium" label="Medium" />
					<Textfield required name="dimensions" label="Dimensions" />
					<Textfield required textarea name="description" label="Description" />

					<button type="submit" class={button({ theme: 'dark', className: 'font-bold' })}>
						Submit art
					</button>
				</form>
			</div>
		</div>

		<CollectionSection />
	</main>
</PrimaryLayout>

<script>
	import { actions } from 'astro:actions';
	import { batchUploadArtwork } from '~/firebase/client.ts';

	const form = document.querySelector('form');
	form?.addEventListener('submit', async (event) => {
		event.preventDefault();
		const formData = new FormData(form);
		console.log('form data to submit:', formData);

		// Upload images to get href
		const title = formData.get('title') as string;
		const sanitizedTitle = title.replace(/\s+/g, '-').toLowerCase();
		const imagesToUpload = formData.getAll('images') as File[];
		const imageHrefArr = await batchUploadArtwork(imagesToUpload, sanitizedTitle);
		formData.set('images', imageHrefArr);

		const result = await actions.artwork.submitArtwork(formData);
	});
</script>
