---
import twoXl from '~/assets/background.jpg';

export interface Props {
	title: string;
}
---

<header
	class="breakout focus-ring-light md:h-30 h-30 relative max-h-dvh justify-items-start bg-black py-8 text-white md:bg-bottom">
	<picture>
		<img
			src={twoXl.src}
			alt=""
			class="breakout absolute inset-0 size-full object-cover object-center"
		/>
	</picture>
	<div class="breakout absolute left-0 right-0 h-full w-full bg-gray-900 opacity-50"></div>

	<div class="prose prose-invert relative">
		<h2>{Astro.props.title}</h2>
	</div>
</header>
